<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing templating</title>
</head>
<body>
<h1>This is the test template</h1>
<form class="form-control" method="POST" action="{{ request.route_url('index') }}">
    <input type="text" name="search"  class="form-control" placeholder="Url" required="" autofocus="">
    <button class="btn btn-lg btn-primary" type="submit">Request</button>
</form>

<ul>
    {% for x in contents %}
    <li>{{ x }}</li>
{% endfor %}
</ul>


</body>
</html>